/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  
}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .header{
    display: flex;
    justify-content: left;
    align-content: center;
  }
  .header__container{
    margin-left: 50px;
    align-items: flex-start;
  }
  .header__logo {
    font-size: 45px;
  }
  .header__phone {
    font-size: 30px;
  } 
  
  .header__phone-title {
    font-size: 30px;
  }
  
  .header__title {
    font-size: 60px;
  }
  
  .header__subtitle {
    font-size: 35px;
  }
  
  .header__button button {
    font-size: 35px;
}
  .header__cloud {
    width: 100%;

  }
 .container{
   padding: 25px
 }
  .main__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start
  }
  .main__img{
    flex: 0 0 40%
  }
 .main__info{
   margin-left: 15px;
   flex: 1 1 auto
 }
  .progress__cloud{
  width: 100%;
  }
.progress__dcloud{
  width: 100%;
  } 
  .progress__title{
  font-size: 33px;
}
.progress__section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 50%
}
.progress__text{
  font-size: 20px;
}
.progress__img{
  width: 100px;
}
.progress__row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.catalog__row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.catalog__section{
  flex: 0 0 50%;
  padding: 0 10px
}
.catalog__img{
  min-height: 280px
}

} 
/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px){}
