/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .header__container {
    margin-left: 50px;
    align-items: flex-start;
  } 
  .header__logo {
    font-size: 40px;
  }

  .header__phone {
    font-size: 30px;
  }

  .header__phone-title {
    font-size: 30px;
  }

  .header__link {
  margin-bottom: 20px
  } 
  .header__title {
    font-size: 55px;
    text-align: left;
  }

  .header__subtitle {
    font-size: 35px;
    text-align: left;
  }

  .header__button button {
    font-size: 30px;
    margin-top: 55px
  }

  .header__cloud {
    width: 100%;

  }

  .container {
    padding: 30px
  }

  .main__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start
  }

  .main__img {
    flex: 0 0 50%;
    min-height: 300px
  }

  .main__info {
    margin-left: 17px;
    flex: 1 1 auto
  }
  .progress__cloud {
    width: 100%;
  }

  .progress__dcloud {
    width: 100%;
  }

  .progress__section {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    padding: 17px;
  }

  .progress__text {
    font-size: 20px;
    margin-left: 17px;
    flex: 1 1 auto
  }

  .progress__img {
    flex: 0 0 30%;
    /* width: 100px; */
  }

  .progress__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .catalog__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .catalog__section {
    flex: 0 0 50%;
    padding: 0 10px;
  }

  .catalog__img {
    min-height: 280px
  }

  .contact__cloud {
    width: 100%;
  }

  .form {
    width: 500px
  }

  .footer__section {
    display: flex;
  }

  .footer__contact {
    margin-right: 17px
  }

  .popup__body {
    width: 500px
  }

}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .header__link {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__container {
    width: 100%;
    margin: 40px;
    align-items: flex-start;
  }

  .main__title {
    font-size: 37px;
  }

  .main__text {
    font-size: 19px
  }

  .progress__title {
    font-size: 37px;
  }

  .catalog__title {
    font-size: 37px;
  }

  .contact__title {
    font-size: 37px;
  }
  .catalog__section {
    flex: 0 0 33.333%;
    padding: 0 14px;
  }
  .contact__container{
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__info{
    text-align: left;
    margin-right: 40px;
  }
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .container {
    width: 900px
  }
}